<!-- INCLUDE overall_header.html -->
<h1>{L_ACP_ACTIVE_USER}</h1>
<p>{L_ACP_ACTIVE_USER_EXPLAIN}</p>
<form id="acp_activeuser" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_ACP_ACTIVE_USER_SETTINGS}</legend>
		<dl>
			<dt><label for="navbar_links">{L_ACP_ACTIVE_USER_NAVBAR_LINKS}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="navbar_links" value="1"{% if NAVBAR_LINKS %} checked="checked"{% endif %} /> {L_YES}</label>
				<label><input type="radio" class="radio" name="navbar_links" value="0"{% if not NAVBAR_LINKS %} checked="checked"{% endif %} /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="navigation">{L_ACP_ACTIVE_USER_NAVIGATION}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="navigation" value="1"{% if NAVIGATION %} checked="checked"{% endif %} /> {L_YES}</label>
				<label><input type="radio" class="radio" name="navigation" value="0"{% if not NAVIGATION %} checked="checked"{% endif %} /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="min_posts">{L_ACP_ACTIVE_USER_MIN_POSTS}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_MIN_POSTS_INFO}</span></dt>
			<dd><input name="min_posts" type="text" size="2" value="{MIN_POSTS}"></dd>
		</dl>
		<dl>
			<dt><label for="per_page">{L_ACP_ACTIVE_USER_PER_PAGE}{L_COLON}</label></dt>
			<dd><input name="per_page" type="text" size="2" value="{PER_PAGE}"></dd>
		</dl>
		<dl>
			<dt><label for="warning">{L_ACP_ACTIVE_USER_WARNING}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_WARNING_INFO}</span></dt>
			<dd><input name="warning" type="text" size="2" value="{WARNING}"></dd>
		</dl>
		<dl>
			<dt><label for="winner_limit">{L_ACP_ACTIVE_USER_WINNER_LIMIT}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_WINNER_LIMIT_INFO}</span></dt>
			<dd><input name="winner_limit" type="text" size="2" value="{WINNER_LIMIT}"></dd>
		</dl>
		<dl>
			<dt><label for="forecast_limit">{L_ACP_ACTIVE_USER_FORECAST_LIMIT}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_FORECAST_LIMIT_INFO}</span></dt>
			<dd><input name="forecast_limit" type="text" size="3" value="{FORECAST_LIMIT}"></dd>
		</dl>
		<dl>
			<dt><label for="activeuser_group">{L_ACP_ACTIVE_USER_GROUP}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_GROUP_INFO}<br />{L_ACP_ACTIVE_USER_CTRL}</span></dt>
			<dd>
				<select id="activeuser_group" size="10" multiple="multiple" name="activeuser_group[]">
					<!-- BEGIN group_setting -->
					<option value="{group_setting.GROUP_ID}"<!-- IF group_setting.SELECTED -->selected="selected"<!-- ENDIF -->>{group_setting.GROUP_NAME}</option>
					<!-- END group_setting -->
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="activeuser_excluded">{L_ACP_ACTIVE_USER_EXCLUDED_FORUMS}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_EXCLUDED_FORUMS_INFO}<br />{L_ACP_ACTIVE_USER_CTRL}</span></dt>
			<dd><select id="activeuser_excluded" name="activeuser_excluded[]" multiple="multiple" size="10">{EXCLUDED_FORUMS}</select></dd>
		</dl>
		<dl>
			<dt><label for="activeuser_text_title">{L_ACP_ACTIVE_USER_TEXT_TITLE}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_TEXT_TITLE_INFO}</span></dt>
 		   <dd><textarea rows="6" cols="30" name="activeuser_text_title">{TEXT}</textarea></dd>
		</dl>
		<dl>
			<dt><label for="activeuser_text_winner">{L_ACP_ACTIVE_USER_TEXT_WINNER}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_TEXT_WINNER_INFO}</span></dt>
 		   <dd><textarea rows="3" cols="30" name="activeuser_text_winner">{TEXT_WINNER}</textarea></dd>
		</dl>
		<dl>
			<dt><label for="activeuser_text_forecast">{L_ACP_ACTIVE_USER_TEXT_FORECAST}{L_COLON}</label><br /><span>{L_ACP_ACTIVE_USER_TEXT_FORECAST_INFO}</span></dt>
 		   <dd><textarea rows="3" cols="30" name="activeuser_text_forecast">{TEXT_FORECAST}</textarea></dd>
		</dl>


	</fieldset>

	<fieldset>
		<legend>{L_ACP_ACTIVE_USER_SAVE}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
